html, body {
  background-color: $concrete;
}

.app {
  position: relative;
  min-width: 380px;
  min-height: calc(100vh + 40px);
  background-color: $concrete;
  font-family: $Helvetica;
  color: $emperor;
  font-weight: 300;
}