html, body {
  background-color: $ghost;
}

.app {
  position: relative;
  min-width: 380px;
  min-height: calc(100vh + 40px);
  background-color: $ghost;
  font-family: $Helvetica;
  color: $mine-shaft;
  font-weight: 300;
}