.checkboxes {
  margin-bottom: 15px;
  
  &__label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }

  label {
    width: 25%;
  }

  input {
    margin-right: 8px;
  }
}