.controls {
  max-width: 1176px;
  margin: 2.5em auto 1.5em;
  padding-left: 30px;
  padding-right: 30px;

  > button {
    margin-bottom: 10px
  }

  &__select {
    display: inline-block;
    width: 200px;
    font-size: .9em;
    margin-bottom: 10px
  }
}