.dialog {
  position: relative;
  margin: 50vh auto;
  max-height: calc(100vh - 70px);
  width: 90%;
  max-width: 620px;
  background-color: $white;
  color: $pigeon-grey;
  overflow: auto;
  padding: 30px 25px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 40px $shadow;
  opacity: 0;
  transition: 0.5s ease-in-out;

  &__heading {
    margin-bottom: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $dark-grey;
  }

  &__btn {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 568px) {
  .dialog {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .dialog {
    width: 60%;
  }
}