.form {
  input {
    display: inline-block;
  }

  > div {
    margin-bottom: 20px;
  }

  &__msg {
    display: block;
    color: $crimson;
    margin-top: 4px;
  }
}

@media screen and (min-width: 568px) {
  .short {
    width: 20%;
    display: inline-block;
  }

  .half,
  .half--first {
    width: 49%;
    display: inline-block;
  }

  .half--first {
    margin-right: 2%
  }
}