.table {
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid $concrete;

  &__head {
    background-color: $iris;
  }

  &__body {
    tr:hover {
      background-color: $silk-stocking;
    }
  }

  th, td {
    padding: .75rem;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    border-top: none;
    border-bottom: 1px solid $concrete;
    text-align: left;
  }
}