// font variables
$Helvetica: 'Helvetica Neue', Helvetica, sans-serif;

// color variables
$white: #FFFFFF;
$black: #000000;

$concrete: #f8f8f8;
$emperor: #2A2A2A;
$mine-shaft: #232328;
$ghost: #e0e1e4;
$pigeon-grey: #434445;
$dark-grey: #D0D0D0;
$silver: #C3C3C3;

$crimson: #E41B17;
$verdant: #25a565;

$shadow: rgba(0, 0, 0, 0.3);